{% extends 'base_backend.html.twig' %}

{% block body %}

    <div class="col-md-12">
        <hr>
        <a class="btn btn-success" data-toggle="modal" data-placement="top" href="#myModal_insert">
            Insertar </a>
        <hr>
        <table class="table dynamic">
            <thead>
            <tr>
                <th> Destino</th>
                <th> Subdestino</th>
                <th> Nombre</th>
                <th> Responsable</th>
                <th> Tel&eacute;fono</th>
                <th> Correo</th>
                <th> Activa</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set i =0 %}
            {% for items in casas %}

                <tr>
                    {# las casas pueden tener o no destinos o subdestinos #}
                    {% if items.subdestinosid != '' %}
                        <td> {{ items.subdestinosid.destinoid.nombre }} </td>
                    {% else %}
                        <td><p class="red_text ">No Tiene</p></td>
                    {% endif %}
                    {# #}
                    {% if items.subdestinosid != '' %}
                        <td> {{ items.subdestinosid.nombre }} </td>
                    {% else %}
                        <td><p class="red_text ">No Tiene</p></td>
                    {% endif %}
                    {# #}
                    <td> {{ items.nombre }} </td>
                    <td> {{ items.responsable }} </td>
                    <td> {{ items.telefono }} </td>
                    <td> {{ items.correo | slice(0,15) }}... </td>
                    {% if items.activa %}
                        <td> <strong style="color: #2b542c"> {{ items.activa }} </strong> </td>
                    {% else %}
                        <td> <strong style="color: #761c19"> {{ items.activa }} </strong> </td>
                    {% endif %}
                    <td><a class="btn btn-primary" data-toggle="modal" data-placement="top" title="Ver M&aacute;s" href="#Ver{{ i }}"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                    <td><a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Editar" href="{{ path('ce_ver',{'id': items.id}) }}"><i class="glyphicon glyphicon-tag"></i></a></td>
                    <td><a class="btn btn-primary" data-toggle="modal" data-placement="top" title="Im&aacute;genes" href="#myModal_imagen{{ i }}"><i class="glyphicon glyphicon-picture"></i></a></td>
                    <td><a class="btn btn-warning" data-toggle="modal" data-placement="top" title="Editar" href="#myModal_edit{{ i }}"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a class="btn btn-danger" data-toggle="modal" data-placement="top" title="Eliminar" href="#myModal{{ i }}"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                <!-- Modal para editar Destinos-->
                <div class="modal fade" id="myModal_edit{{ i }}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Editar casas</h4>
                            </div>
                            <div class="modal-body">
                                <form method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="id" value="{{ items.id }}"/>
                                    <div class="form-group">
                                        <label for="_activa"> Subdestinos </label><br>
                                            <select name="subdestino" class="js-example-basic-single select2_backend">
                                            {% if items.subdestinosid != '' %}
                                                <option value="{{ items.subdestinosid.id }}">{{ items.subdestinosid.nombre }}</option>
                                            {% else %}
                                                <option value="">Sin Subdestino.</option>
                                            {% endif %}
                                            {% for items in subdestinos %}
                                                <option value="{{ items.id }}">{{ items.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_nombre"> Nombre <span class="required">*</span></label>
                                        <input class="form-control" name="nombre_editar"
                                               id="_nombre" value="{{ items.nombre }}"/>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_dir"> Direcci&oacute;n </label>
                                        <input class="form-control" name="direccion" id="_dir"
                                               value="{{ items.direccion }}"/>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_resp"> Responsable o Due&ntilde;o </label>
                                        <input class="form-control" name="responsable" id="_resp"
                                               value="{{ items.responsable }}"/>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_tele"> Tel&eacute;fono</label>
                                        <input class="form-control" name="telefono" id="_tele"
                                               value="{{ items.telefono }}"/>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_mail"> Correo </label>
                                        <input class="form-control" name="correo" id="_mail"
                                               value="{{ items.correo }}"/>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_precio"> Precio Alza </label>
                                        <input class="form-control" name="precio" id="_precio"
                                               value="{{ items.precio }}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="_precioo"> Precio Baja</label>
                                        <input class="form-control" name="precioofertas" id="_precioo"
                                               value="{{ items.preciooferta }}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="_capac"> Capacidad de la Casa </label>
                                        <input class="form-control" name="capacidad" id="_capac"
                                               value="{{ items.capacidad }}"/>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_hab"> Cant. de Habitaciones </label>
                                        <input class="form-control" name="cuartos" id="_hab"
                                               value="{{ items.cuartos }}"/>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_bath"> Cant. de Ba&ntilde;os </label>
                                        <input class="form-control" name="bath" id="_bath"
                                               value="{{ items.bath }}"/>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_activa"> Activa </label>
                                        <select class="form-control" name="activa" id="_activa">
                                            <option value="{{ items.activa }}">{{ items.activa }}</option>
                                            <option value="Si">Si</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="_nombre"> Im&aacute;genes</label>
                                        <input type="file" name="myfiles[]" multiple>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_tags"> Etiqueta de las Im&aacute;genes </label>
                                        <input class="form-control" name="tags" id="_tags">
                                    </div>
                                    <hr>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_texto"> Inserte Datos Adicionales </label>
                                        <textarea class="form-control" name="texto"
                                                  id="_texto">{{ items.texto }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="_reglas"> Inserte Reglas de la Casa </label>
                                        <textarea class="form-control" name="reglas"
                                                  id="_reglas">{{ items.reglas }}</textarea>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_activa"> Permite Reservas Multiples </label>
                                        <select class="form-control" name="multiple" id="_multiple">
                                            <option value="{{ items.reservamultiple }}">{{ items.reservamultiple }}</option>
                                            {% if items.reservamultiple == 'Si' %}
                                                <option value="No">No</option>
                                            {% else %}
                                                <option value="Si">Si</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="_mt"> META Title </label>
                                        <textarea class="form-control" name="metatitle"
                                                  id="_mt">{{ items.metatitle }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="_md"> META Description </label>
                                        <textarea class="form-control" name="metadesc"
                                                  id="_md">{{ items.metadesc }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="_mk"> META Keywords </label>
                                        <textarea class="form-control" name="metakeyword"
                                                  id="_mk">{{ items.metakeyword }}</textarea>
                                    </div>
                                    <hr>
                                    <BR>
                                    <div class="form-group">
                                        <div class="submit-btn">
                                            <input class="btn btn-primary" type="submit"
                                                   value="Actualizar">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal{{ i }}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Eliminar Casa</h4>
                            </div>
                            <div class="modal-body">
                                Esta seguro que desea eliminar esta casa, esto eliminar&aacute; sus
                                relaciones con Imagenes, Coordenadas y Etiquetas.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    No
                                </button>
                                <a href="{{ path('casa_eliminar',{'id': items.id}) }}">
                                    <button type="button" class="btn btn-primary">S&iacute;</button>
                                </a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                      <!-- Modal -->
                      <!-- Modal para las imagenes de Casas-->
                <div class="modal fade" id="myModal_imagen{{ i }}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Imagenes</h4>
                            </div>
                            <div class="modal-body">
                                <h1> Im&aacute;genes </h1>
                                {% for items3 in imagenes %}
                                    {% if items3.casaid.id == items.id %}
                                        {% if items3.imagen != '' %}
                                            <img class="img-thumbnail"
                                                 src="{{ asset(items3.imagen) }}">
                                            <p> <strong> Etiquetas: </strong> {{ items3.tags }} </p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                {% include 'backend/casas/ver/ver_mas.html.twig' %}
                {% set i = i + 1 %}
            {% endfor %}
            </tbody>
        </table>
        <div class="clearfix"></div>
    </div>
    <!-- Modal para insertar Casas-->
    <div class="modal fade" id="myModal_insert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Insertar Casas</h4>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="_subdest"> Subdestinos </label><br>
                            <select name="subdestino" id="_subdest" class="js-example-basic-single select2_backend">
                                {% for items in subdestinos %}
                                    <option value="{{ items.id }}">{{ items.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_nombre"> Nombre <span class="required">*</span></label>
                            <input class="form-control" name="nombre" id="_nombre" required=""/>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_dir"> Direcci&oacute;n </label>
                            <input class="form-control" name="direccion" id="_dir"/>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_resp"> Responsable o Due&ntilde;o </label>
                            <input class="form-control" name="responsable" id="_resp"/>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_tele"> Tel&eacute;fono</label>
                            <input class="form-control" type="text" name="telefono" id="_tele"/>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_mail"> Correo </label>
                            <input class="form-control" name="correo" id="_mail"/>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_precio"> Precio Alza</label>
                            <input class="form-control" name="precio" id="_precio"/>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_precioo"> Precio Baja</label>
                            <input class="form-control" name="precioofertas" id="_precioo"/>
                        </div>
                        <div class="form-group">
                            <label for="_capac"> Capacidad de la Casa </label>
                            <input class="form-control" name="capacidad" id="_capac"/>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_hab"> Cant. de Habitaciones </label>
                            <input class="form-control" name="cuartos" id="_hab"/>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_bath"> Cant. de Ba&ntilde;os </label>
                            <input class="form-control" name="bath" id="_bath"/>
                        </div>
                        <div class="form-group">
                            <label for="_activa"> Activa </label>
                            <select name="activa" class="form-control" id="_activa">
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_texto"> Inserte Datos Adicionales </label>
                            <textarea class="form-control" name="texto" id="_texto"></textarea>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_reglas"> Inserte Reglas de la Casa </label>
                            <textarea class="form-control" name="reglas" id="_reglas"></textarea>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_multiple"> Permite Reservas Multiples </label>
                            <select class="form-control" name="multiple" id="_multiple">
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                            </select>
                        </div>
                        <!-- -->
                        <hr>
                        <div class="form-group">
                            <label for="_nombre"> Im&aacute;genes</label>
                            <input type="file" name="myfiles[]" multiple>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label for="_tags"> Etiqueta de las Im&aacute;genes </label>
                            <input class="form-control" name="tags" id="_tags">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="_mt"> META Title </label>
                            <textarea class="form-control" name="metatitle"
                                      id="_mt"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="_md"> META Description </label>
                            <textarea class="form-control" name="metadesc"
                                      id="_md"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="_mk"> META Keywords </label>
                            <textarea class="form-control" name="metakeyword"
                                      id="_mk"></textarea>
                        </div>
                        <hr>
                        <BR>
                        <div class="form-group">
                            <div class="submit-btn">
                                <input class="btn btn-primary" type="submit" value="Insertar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
