{% extends 'base_backend.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <hr>
        <a class="btn btn-success" data-toggle="modal" data-placement="top" href="#myModal_insert">
            Insertar </a>
        <hr>
        <table class="table dynamic">
            <thead>
            <tr>
                <th> Banner </th>
                <th> Idioma </th>
                <th> T&iacute;tulo </th>
                <th> Descripci&oacute;n </th>
                <th> Direcci&oacute;n </th>
                <th> Texto </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set i =0 %}
            {% for items in trans %}
                <tr>
                    <td> {{ items.bannerid.titulo }} </td>
                    <td> {{ items.idiomasid.idioma }} </td>
                    <td> {{ items.texto1 | slice(0, 20) }} </td>
                    <td> {{ items.texto2 | slice(0, 20) }} </td>
                    <td> {{ items.texto3 | slice(0, 20) }} </td>
                    <td> {{ items.texto4 | slice(0, 20) }} </td>
                    <td><a class="btn btn-warning" data-toggle="modal" data-placement="top"
                           title="Editar" href="#myModal_edit{{ i }}"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a class="btn btn-danger" data-toggle="modal" data-placement="top"
                           title="Eliminar" href="#myModal{{ i }}"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                <!-- Modal para editar Destinos-->
                <div class="modal fade" id="myModal_edit{{ i }}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Editar Traduccion de Banner</h4>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    <input type="hidden" name="id" value="{{ items.id }}"/>
                                    <div class="form-group">
                                        <label> T&iacute;tulo <span class="required">*</span></label>
                                        <textarea class="form-control" name="titulo_editar">{{ items.texto1 }}</textarea>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label> Descripci&oacute;n <span class="required">*</span></label>
                                        <textarea class="form-control" name="desc" >{{ items.texto2 }}</textarea>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label> Direcci&oacute;n <span class="required">*</span></label>
                                        <textarea class="form-control" name="direccion" >{{ items.texto3 }}</textarea>
                                    </div>
                                    <BR>
                                    <div class="form-group">
                                        <label for="_texto"> Texto <span class="required">*</span></label>
                                        <textarea class="form-control" name="texto" id="_texto">{{ items.texto4 }}</textarea>
                                    </div>
                                    <BR>
                                    <div class="comment-form-author">
                                        <div class="submit-btn">
                                            <input class="btn btn-primary" type="submit" value="Actualizar">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal{{ i }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Eliminar Idiomas</h4>
                            </div>
                            <div class="modal-body">
                                Esta acci&oacute;n eliminar&aacute; su tracucci&oacute;n,
                                Est&aacute; usted realmente seguro?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                <a href="{{ path('bannertrans_eliminar',{'id': items.id})}}"><button type="button" class="btn btn-primary">S&iacute;</button></a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- Modal -->
                {% set i = i + 1 %}
            {% endfor %}
            </tbody>
        </table>
        <div class="clearfix"></div>
    </div>
    <!-- Modal para insertar Traducciones -->
    <div class="modal fade" id="myModal_insert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Insertar Traducciones de Banner</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label> Seleccione el Banner </label>
                            <select  class="form-control" name="bannerid">
                                <option value="">Buscar...</option>
                                {% for items in banner_todos %}
                                    <option value="{{ items.id }}">{{ items.titulo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label> Seleccione el Idioma </label>
                            <select  class="form-control" name="idioma">
                                <option value="">Buscar...</option>
                                {% for items in idiomas %}
                                    <option value="{{ items.id }}"> {{ items.idioma }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label> T&iacute;tulo <span class="required">*</span></label>
                            <textarea class="form-control" name="titulo"></textarea>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label> Descripci&oacute;n <span class="required">*</span></label>
                            <textarea class="form-control" name="desc" ></textarea>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label> Direcci&oacute;n <span class="required">*</span></label>
                            <textarea class="form-control" name="direccion"></textarea>
                        </div>
                        <BR>
                        <div class="form-group">
                            <label> Texto <span class="required">*</span></label>
                            <textarea class="form-control" name="texto"></textarea>
                        </div>
                        <BR>
                        <div class="comment-form-author">
                            <div class="submit-btn">
                                <input class="btn btn-primary" type="submit" value="Insertar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
