{% extends 'base_frontend.html.twig' %}

{% block body %}
    <section id="aa-property-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner">
                        <h2>{{ 'registrar.titulo' | trans({}, 'base') }}</h2>
                        <ol class="breadcrumb">
                            <li></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="aa-advance-search">
        <div class="container margin-top2">
            <div class="col-md-6">
                <div class="row" id="text-align">
                    <h2>{{ 'registrar.paso2' | trans({}, 'base') }}</h2>
                    <hr>
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>{{ 'registrar.tags' | trans({}, 'base') }}</label><br>
                            {% set i=0 %}
                            {% for items in tags %}
                                <input type="checkbox" name="et{{ i }}" value="{{ items.id }}">
                                <strong>{{ items.nombre }}</strong>
                                {% set i=i+1 %}
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="_nombre"> {{ 'registrar.imagenes' | trans({}, 'base') }} </label>
                            <input type="file" name="myfiles[]" multiple required="">
                        </div>
                        <br>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit"
                                   value=" {{ 'registrar.pasos' | trans({}, 'base') }} ">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
